<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>😎 Kirolos Magdy's site</title>
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td>
          <img
            src="static/Kirolos profile picture.png"
            alt="Kirolos profile image"
            width="200px"
            height="200px"
          />
        </td>
        <td>
          <h1>Kirolos Magdy</h1>
          <p>
            <em
              >Computer Science student at
              <strong
                ><a href="http://www.asu.edu.eg/"
                  >Ain Shams University</a
                ></strong
              >.</em
            >
          </p>

          <p>
            I ❤ coding, coffee, and gaming. as i want to be a full stack web
            developer.
          </p>
        </td>
      </tr>
    </table>

    <hr size="3" noshade />

    <h3>Education</h3>
    <ul>
      <li>High School</li>
      <li>Computer Science</li>
    </ul>

    <hr size="3" />

    <h3>Work Experience</h3>

    <table cellspacing="10">
      <thead>
        <th>Date</th>

        <th>Work</th>
      </thead>

      <tbody>
        <tr>
          <td>2018-now</td>
          <td>Video editor</td>
        </tr>

        <tr>
          <td>2019-now</td>
          <td>Videographer</td>
        </tr>

        <tr>
          <td>2020-now</td>
          <td>Full stack Developer at Dr Raw</td>
        </tr>
      </tbody>
    </table>
    <hr size="3" />

    <h3>Skills</h3>

    <table border="1" cellspacing="10">
      <tbody>
        <tr>
          <td>
            <table>
              <tr>
                <td>Web Development</td>
                <td>🎇</td>
              </tr>
              <tr>
                <td>Videographer</td>
                <td>🎇🎇</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>VideoEditing</td>
                <td>🎇🎇🎇</td>
              </tr>
              <tr>
                <td>C++ Development</td>
                <td>🎇🎇</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <a href="hoppies">My Hoppies</a>
    <br />
    <a href="contact">Contact me</a>
  </body>
</html>
